<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" href="{% static 'css/builder.css' %}">

  {% block title %}<title>Programme Builder</title>{% endblock %}
</head>

<body>
  <ul class="nav justify-content-end" style="background: black;">
  <li class="nav-item">
    <a class="nav-link" href="http://www.leeds.ac.uk">
        <img src="{% static 'images/uol_logo.png' %}" width="140" alt="University of Leeds">
    </a>
  </ul>

  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">School of Computing</a>
    {% if user.is_authenticated %}

    <form class="logout-button" action="{% url 'logout' %}" method="post">
      {% csrf_token %}
      <p class="greeting"> Welcome, {{user.username}} </p>
      <input type="submit" value="Logout">
    </form>
    {% else %}
    <form class="logout-button" action="{% url 'index' %}" method="post">
      {% csrf_token %}
      <input type="submit" value="Login">
    </form>
    {% endif %}
  </nav>

  <ul class="nav nav-pills nav-fill" style="background: #e9e5e1;">
    <li class="nav-item">
      <a class="nav-link" href="{% url 'home' %}">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'modules' %}">Modules</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="{% url 'build' %}">Build</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/admin">Admin</a>
    </li>
  </ul>

  {% block content %}
  {% endblock %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  {% block js %} {% endblock %}
</body>
</html>