<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% load static %}
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <title> Programme Builder </title>
</head>

<body>
  <div class="content">
    <form class="site-form" action="{% url 'index' %}" method="post">
        {% csrf_token %}
        <div class="text-center mb-4">
          <img class="mb-4" src="{% static 'images/square_logo.png' %}" alt="" width="72" height="72">
          <h1 class="h3 mb-3 font-weight-normal">Programme Builder</h1>
        </div>
        {{form}}
        {% if request.GET.next %}
          <p> You have to be logged in to view this page </p>
          <input type="hidden" name="next" value={{request.GET.next}}>
        {% endif %}
        <div class="checkbox mb-3">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <p>Don't have an account yet? <a href="/signup"> Create account</a></p>
        <input class="btn btn-lg btn-primary btn-block" type="submit" value="Log in">
        <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
      </form>
    </div>
</body>
</html>