{% extends "base.html" %}

{% block content %}
{% load static %}
    <form class="form-signin" action="{% url 'home' %}" method="post">
      {% csrf_token %}
      <div class="text-center mb-4">
        <img class="mb-4" src="{% static 'images/square_logo.png' %}" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Programme Builder</h1>
      </div>

      <div class="form-label-group">
        <input type="text" id="uname" name="uname" class="form-control" placeholder="Username" required autofocus>
        <label for="uname">Username</label>
      </div>

      <div class="form-label-group">
        <input id="password" type="password" name="password" class="form-control" placeholder="Password" required>
        <label for="password">Password</label>
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <p>Don't have an account yet? <a href="#"> Create account</a></p>
      <button id="signin" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2018</p>
    </form>

{% endblock %}

{% block js %}
<script>
    $("#signin").click(function() {
        var username = $("#uname").val();
        var password = $("#password").val();

        $.ajax({
            url: "/ajax/checklogin",
            data: {
                "username": username,
                "password": password
            },
            dataType: "json",
            success: function(data) {
                alert(data)
            }
        });
    });
</script>
{% endblock %}