.modules {
    float: left;
}

.programme {
    float: left;
}

.criteria-div {
    float: left;
}

.programme-data {
    float:left;
}

.container-fluid {
    padding-top: 16px;
}

.title {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.modules-title {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.module {
    border: 1px solid black;
    margin: 0px 5px 3px;
    text-align: center;
    color: white;
    background: black;
    font-size: 0.8em;
}

.criterion {
    font-size: 0.75em;
}

.criteria-title {
    text-align: center;
}
