.navbar {
    /*margin-bottom: 12px;*/
}

.nav-item {
    border-right: 1px solid black;
}

.nav-link {
    color: black;
}

.form-signin {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}